/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-card-block {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.is-style-red{
    color: red !important;
}
.is-style-green{
   color: green !important;
}
.is-style-black{
   color: black !important;
}
.is-style-orenge{
   color: orange !important;
}